<h2> Forms Example </h2>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<form class="form-group">  
				<textarea [(ngModel)]="name" name="name" cols="50" rows="10" class="form-control"> </textarea>
				<br>
				<button type="submit" (click)="addItem()" class="btn btn-primary"> Add Item </button>
			</form>
		</div>

		<div class="col-md-6">
			<p> You have <b>{{ itemNum }} Items </b></p>

			<p *ngFor="let item of items" (click)="editItem(item)" style="padding:10px; background: #333;">

				<span (click)="removeItem(item)" style="background: #999"> {{ item }} </span>
			
			</p>
		</div>

	</div>

	<div *ngIf="editable == true">
		<form class="form-group">
			<input type="text" name="name" [(ngModel)]="name" class="form-control">
		</form>
	</div>


</div>

{{ name }}
