<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <ul>

    <li>
      <a routerLink="">Home </a>
    </li>
    <li>
      <a routerLink="data-binding">Data Binding </a>
    </li>
    <li>
      <a routerLink="2-way-binding">2 way Data Binding </a>
    </li>
    <li>
      <a routerLink="event-binding">Event Binding </a>
    </li>
    <li>
      <a routerLink="form">Form</a>
    </li>
    <li>
      <a routerLink="loop">Loop </a>
    </li>
    <li>
      <a routerLink="animation">Animation </a>
    </li>
    <li>
      <a routerLink="api">API </a>
    </li>
    <li>
      <a routerLink="garbage-value">Error Page </a>
    </li>

  </ul>
</nav>
<hr>
<router-outlet></router-outlet>


